<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aggi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Aggi</h1>
  <h3>Welcome to  Aggi etc .......</h3> 
</div>


<div class='options'>
<div>
  <a href="bundle10.html" class="btn btn-default">10 minutes</a><br/><br/>
</div>


<div >
  <a href="bundle20.html" class="btn btn-default">20 minutes</a><br/><br/>
</div>

<div >
  <a href="bundle30.html" class="btn btn-default">30 minutes</a><br/><br/>
</div>

<div >
  <a href="bundle45.html" class="btn btn-default">45 minutes</a><br/><br/>
</div>


</div>


<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAyD6ytZr6Eocta0YWY1GMd2_xLXtQBtKI",
    authDomain: "aggi-2526b.firebaseapp.com",
    databaseURL: "https://aggi-2526b.firebaseio.com",
    projectId: "aggi-2526b",
    storageBucket: "aggi-2526b.appspot.com",
    messagingSenderId: "456300322336"
  };
  firebase.initializeApp(config);
</script>
</body>
</html>